
.myblog_bgcolor_main{
  background: var(--bs-orange);; 
}
.myblog_bgcolor_sub{
  background :#FFCC80;
}
.myblog_bgcolor_accent{
  background : var(--bs-teal);
}
/* color */
.myblog_color_accent{
  color :var(--bs-teal);
  font-weight: bold;
}
